<%= link_to 'Add New Loan', new_loan_path %>
<br>
<br>
<div class ="grid-container">
  <% @loans.each do |loan| %>
  <div>
  <p>
      Category: <%= link_to loan.category, loan_path(loan) %><br>
      Amount: <%= loan.amount %> | 
      <%= link_to 'edit', edit_loan_path(loan) %> |
      <%= link_to 'delete',loan, method: :delete %>
    </p>
  </div>
<% end %>
</div>
<br>
<br>

<%= link_to 'Fixed Loans', loans_fixed_path %>
<br>
<%= link_to 'back to home', application_index_path %>
