<h1>Add New Loan</h1>
<%= form_for @loan do |f|%>
   <% if @loan.errors.any? %>
    <h2>Errors:</h2>
      <ul>
       <% @loan.errors.full_messages.each do |message| %>
       <li><%= message %></li>
      <% end %> 
     </ul>
  <% end %>
  <%= f.label :category%><br>
  <%= f.text_field :category%><br>

  <%= f.label :amount %><br>
  <%= f.text_field :amount%><br>

  <br>
  Pick a vehicle


  <%= f.fields_for  :car do |car_fields|  %>
    Model: <%= car_fields.select :model, ["Colorado", "Tahoe", "Traverse"]%>
    Year: <%= car_fields.text_field :year, placeholder: "2009" %>
    <%= hidden_field_tag(:user_id, params[:user_id]) %>
  <% end %>

  <br>
  <br>
  <%= f.submit 'submit'%> 


<% end %>