<h1>Add New Loan</h1>
<%= form_for @loan do |f|%>
   <% if @loan.errors.any? %>
    <h2>Errors:</h2>
      <ul>
       <% @loan.errors.full_messages.each do |message| %>
       <li><%= message %></li>
      <% end %> 
     </ul>
  <% end %>
    <%= f.label :category%><br>
    <%= f.text_field :category%><br>

    <%= f.label :amount %><br>
    <%= f.text_field :amount%><br>

    <br>
    Pick a vehicle by customer name:
     <%= hidden_field_tag(:car_id, params[:car_id]) %>
    <%= f.collection_select :car_id, Car.all, :customer_name, :customer_name, include_blank: true %><br> 
    <br>
    <%= f.submit 'submit'%> 

<% end %>