<h1>Edit vehicle info</h1>


<%= form_for @car do |f|%>
<% if @car.errors.any? %>
    <h2>Errors:</h2>
      <ul>
       <% @car.errors.full_messages.each do |message| %>
       <li><%= message %></li>
      <% end %> 
     </ul>
   <% end %>
   <%= form_for @car do |car_fields| %>
  <%= render partial: "/loans/form", locals: {car_fields: car_fields}%>
  <%= f.submit 'update'%>
<% end %>
<% end %>

