<%= link_to 'Add New Vehicle', new_car_path %>

<% @cars.each do |car| %>
  <p>
     Manufacturer: <%= link_to car.manufacturer, car_path(car) %><br>
     Model: <%= car.model %> | 
     <%= link_to 'edit', edit_car_path(car) %> |
     <%= link_to 'delete',car, method: :delete %>
  </p>
<% end %>