
<%= link_to 'Add New Vehicle', new_car_path %>
 <br>
 <%= link_to 'Colorado Models with loans', cars_model_path %>
 <br>
 
 <div class="grid-container">
  <% @cars.each do |car| %>
  <div>
      <br>
      <br>
      Customer Name: <%= car.customer_name%><br>
      Manufacturer: <%= link_to car.manufacturer, car_path(car) %><br>
      Model: <%= car.model %> <br>
      Year: <%= car.year %> <br> | 
      <%= link_to 'edit', edit_car_path(car) %> |
      <%= link_to 'delete',car, method: :delete %>
   </div>   
  <% end %>
</div>
<br>
<br>
<%= link_to 'back to home', application_index_path %>

