<!DOCTYPE html>
<html>
  <head>
    <title>CarShark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </head>

  <body>

  <h1>CarShark</h1>
    <%= link_to 'logout', destroy_user_session_path, method: :delete %>
    <br>
    <%= link_to 'View Loans', loans_path %>
    <br>
    <%= link_to 'View Vehicles', cars_path %>
    <%= yield %>
  </body>
</html>
